<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Updated</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Password Updated Successfully!</h1>
    <p>Your password has been updated. You can now log in with your new password.</p>
    <a href="http://localhost:3000/sign-in">Go to Login Page</a>
    <script>
        alert("Password Updated Successfully!");
        window.location.href = "http://localhost:3000/sign-in";
    </script>
</body>

</html>